<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion6" class="mb-3">
          <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-between w-100 col-top-header">
                <div>
                  <a class="card-link">
                    Resolve a Problem
                  </a>
                </div>
                <div>
                  <button class="" routerLink="/admin/resolve-problem">
                    <span class="fa fas fa-bars"></span>
                    view tickets
                  </button>
                  <!-- <button></button> -->
                </div>
              </div>
            </div>
            <div
              id="collapseSix"
              class="collapse show"
              data-parent="#accordion6"
            >
              <div class="card-body">
                <h6 class="reported-text">Reported Issues</h6>

                <div class="reported-issues-wrapper">
                  <div class="report-item">
                    <h5 class="reporter-name">Achawayne</h5>
                    <h5 class="report-title">
                      Creating the resolve Problem page
                    </h5>
                    <p>
                      we are working hard to ensure that this project is a
                      success
                    </p>

                    <div class="d-flex justify-content-between">
                      <div class="timer-section">
                        <span class="fa fas fa-bolt icon"></span>
                        <span>1</span>
                        <span class="fa fas fa-tag icon"></span>
                        <span>Waiting</span>
                        <span class="fa fas fa-clock icon"></span>
                        <span>Created: March 8, 2022, 4:54 pm</span>
                      </div>
                      <div class="btn-wrapper">
                        <button
                          class="view-btn"
                          routerLink="/admin/view-report"
                        >
                          <span class="fa fas fa-list"></span>
                          View reply
                        </button>
                        <button
                          class="view-btn"
                          routerLink="/admin/respond-report"
                        >
                          <span class="fa fas fa-check-square"></span>
                          Close ticket
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="report-item">
                    <h5 class="reporter-name">Achawayne</h5>
                    <h5 class="report-title">
                      Creating the resolve Problem page
                    </h5>
                    <p>
                      we are working hard to ensure that this project is a
                      success
                    </p>

                    <div class="d-flex justify-content-between">
                      <div class="timer-section">
                        <span class="fa fas fa-bolt icon"></span>
                        <span>1</span>
                        <span class="fa fas fa-tag icon"></span>
                        <span>Waiting</span>
                        <span class="fa fas fa-clock icon"></span>
                        <span>Created: March 8, 2022, 4:54 pm</span>
                      </div>
                      <div class="btn-wrapper">
                        <button
                          class="view-btn"
                          routerLink="/admin/view-report"
                        >
                          <span class="fa fas fa-list"></span>
                          View reply
                        </button>
                        <button
                          class="view-btn"
                          routerLink="/admin/respond-report"
                        >
                          <span class="fa fas fa-check-square"></span>
                          Close ticket
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
