.loader-td {
  padding: 0px !important;
}

.ph-item {
  padding: 0px !important;
}

.ph-picture {
  height: 50px !important;
}
.bookmark {
  position: absolute;
  top: 0px;
  right: 10px;
}
.thead-custom {
  font-weight: bold;
}

.recent-btn {
  background-color: darkblue;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
}

.tbody-text {
  font-size: 13px;
  font-weight: 600;
}
.card-header {
  font-size: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
}
.dashboard-link {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: black;
}
.view-all-btn {
  text-decoration: none !important;
  float: right;
  background-color: darkblue;
  color: #ffffff;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  padding: 3px 6px;
}
.tab-btn {
  color: #fff !important;
  font-size: 14px !important;
}

.attending-seminar-wrapper:hover {
  cursor: pointer;
  border: 1px solid white;
}

::ng-deep {
  tbody tr {
    border-top: 1px solid #dee2e6;
  }

  td.mat-cell {
    border-bottom-width: 0px !important;
    border-bottom-style: solid;
  }
}

.attending-seminar-wrapper {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s linear;
  margin-bottom: 15px;
  p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  h6 {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
  }
  h5 {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.header-banner {
  font-weight: 700;
  color: #5371ad;
}

.order-form-table {
  td,
  th {
    border: 0.1px solid #fff;
  }
  th {
    background-color: #054e6e;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }

  td {
    background-color: #dfdfdf;
    padding: 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.red-text {
  color: #fb5454 !important;
  font-weight: 600;
  margin: 0;
}
.green-text {
  color: #56d094 !important;
  font-weight: 600;
  margin: 0;
}
.yellow-text {
  color: #e3940b !important;
  font-weight: 600;
  margin: 0;
}
