.loader-td {
  padding: 0px !important;
}

.ph-item {
  padding: 0px !important;
}

.ph-picture {
  height: 50px !important;
}

.btn-wrapper2 {
  text-align: end;
  text-align: right;
  button {
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    width: 40%;
    background-color: #4a0013;
    padding: 8px;
  }
}

.selected-title-name {
  font-size: 20px;
  font-weight: 500;
  background-color: #f6f6f6;
  border-bottom: 1px solid #dadada;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-link {
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding-left: 10px;
}

.input-wrapper {
  margin-bottom: 10px;
}

.table-data-section {
  ::ng-deep {
    table thead {
      background-color: #4a06c2;

      tr {
        th {
          font-weight: 600;
        }
      }

      tr.mat-header-row {
        height: 20px !important;
      }

      color: #ffffff;
      * {
        color: #ffffff;
        text-align: center;
        font-size: 10px !important;
        padding: 15px !important;
      }
    }

    table tbody {
      * {
        font-size: 10px !important;
        padding: 5px !important;
      }

      td {
        padding-left: 10px;
      }
    }
  }
}

.remove-loader {
  display: none;
}

.select-filter {
  display: flex;
  gap: 15px;

  button {
    background-color: #4a06c2;
    color: #ffffff;
    border-radius: 4px;
    border: 0px;
    font-size: 13px;
    padding: 8px;
  }

  .select-wrapper {
    width: 40%;

    select {
      width: 100%;
      padding: 6px;
    }
  }
}
