<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <div class="form-table-ctn px-2pt-4">
          <div class="card-header">Orders Remaining</div>

          <div class="card mt-3">
            <div class="card-header justify-content-between d-flex align-items-center">
              <p><i class="fa fa-list-ul mr-3"></i>Remaining Orders</p>
              <span>123 </span>
            </div>
            <div class="card-body">
              <div class="table-ctn mt-3">
                <table class="order-form-table w-100">
                  <thead>
                    <th>S/N</th>

                    <th>Vendor Name #</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">1</td>

                      <td>Ethan Hayes</td>
                    </tr>
                    <tr>
                      <td class="text-center">2</td>

                      <td>Ethan Hayes</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
