.section-header {
  color: #ffffff;
  background-color: #a8a8a8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  background-color: #00547a !important;
}
.btn-primary:disabled {
  background-color: #00537ac6 !important;
}
.header-search-ctn {
  button {
    background-color: #054e6e !important;
  }
}
.search-data-ctn {
  margin-left: 30px;

  h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .value {
    font-size: 13px;
    font-weight: 700;
  }
  .value.red {
    color: #f6240c;
    // font-size: 11px;
  }
  td {
    padding: 15px;
  }
}
.input-group {
  display: flex;
  align-items: center;
  padding: 5px;
  input {
    margin-left: 5px;
  }
}
.paginate {
  color: #054e6e;
}
.order-form-table {
  td,
  th {
    border: 0.1px solid rgb(221, 220, 220);
  }
  th {
    background-color: #054e6e;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  tbody {
    tr:nth-child(2n + 2) {
      background: rgb(223, 222, 222) !important;
    }
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .bg-whitish {
    background-color: #dfdfdf8b !important;
    color: #303030 !important;
  }

  td {
    background-color: transparent;
    padding: 8px;
    text-transform: capitalize;
    font-size: 16px;
    input {
      background-color: #fff;
      width: 60px;
      height: 30px;
      border-radius: 4px;
      ::placeholder {
        color: #dfdfdf83 !important;
      }
      border: 0.1px solid rgb(174, 174, 174);
    }
  }
}
.section-header {
  color: #ffffff;
  background-color: #a8a8a8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
::ng-deep tr:nth-child(2n + 2) {
  background: rgb(223, 222, 222) !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type='number'] {
  -moz-appearance: textfield !important;
}
input[type='number']::placeholder {
  text-align: center;
}
.btn-primary {
  background-color: #00547a !important;
}
.header-search-ctn {
  button {
    background-color: #054e6e !important;
  }
}
.indicator-wrapper {
  div:nth-child(1) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: red;
    }
  }

  div:nth-child(2) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: green;
    }
  }

  div:nth-child(3) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: black;
    }
  }

  div:nth-child(4) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: blue;
    }
  }
}

.search-input {
  max-width: 400px;
}
.paginate {
  color: #054e6e;
}
.order-form-table {
  td,
  th {
    border: 0.1px solid rgb(242, 242, 242);
  }
  th {
    background-color: #054e6e;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  tbody {
    tr:nth-child(2n + 2) {
      background: rgb(223, 222, 222);
    }
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .bg-whitish {
    background-color: #dfdfdf8b !important;
    color: #303030 !important;
  }

  td {
    background-color: tra;
    padding: 8px;
    text-transform: capitalize;
    font-size: 16px;
    input {
      background-color: #fff;
      width: 60px;
      height: 30px;
      border-radius: 4px;
      ::placeholder {
        color: #dfdfdfb8 !important;
      }
      border: 0.1px solid rgb(174, 174, 174);
    }
  }
}

.bg-blue {
  background-color: #006ea0 !important;
  color: #fff;
  :hover {
    background-color: #006ea0 !important;
  }
}
.bg-blue:hover {
  background-color: #006ea0 !important;
}
.bg-transparent {
  border: 0.5px solid #797878 !important;
  background-color: transparent !important;
}
.highlighted {
  td {
    background-color: #3d9dc6 !important;
  }
}
table {
  input {
    width: 90px !important;
  }
}
.short-note-con {
  position: relative;
}
.desc-text {
  display: block;
  font-weight: bold;
}
.special-text {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: red;
}
.view-special-text-amt {
  font-size: 14px;
  color: red;
  font-weight: 700;
  display: inline-block;
  padding-left: 10px;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.view-special-text {
  font-size: 14px;
  color: red;
  font-weight: 700;
}

.assorted-color {
  color: green;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.quantity-color {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.spinner-loader {
  margin-left: 10px;
}

.assorted-alert {
  button {
    background-color: #14abef;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    color: #ffffff;
  }
}

.table-section {
  width: 40%;
  thead {
    background-color: #303030;
    color: #ffffff;
    font-weight: 700;

    th {
      font-size: 13px;
      border: 1px solid #ffffff;
      padding: 10px;
      text-align: center;
    }
  }

  tbody {
    td {
      font-size: 13px;
      border: 1px solid #ffffff;
      padding: 10px;
      text-align: center;
      font-weight: 700;
    }
  }
}

.booking-text {
  font-weight: bold;
}

.ticker {
  display: none;
}

.u-price-text {
  display: none;
}

.total-text {
  font-weight: bold;
}
