<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <div class="form-table-ctn px-2pt-4">
          <div class="card bg-transparent border-0">
            <div
              class="card-header mb-4 d-flex justify-content-between align-items-center"
              style="background-color: #f6f6f6;"
            >
              <span>Support</span>
              <span>
                <a
                  routerLink="/dealers/report-problem"
                  class="btn btn-light mr-2"
                  style="
                    font-size: 12px;
                    background: #fff !important;
                    border: 0.3px solid #85838392 !important;
                  "
                >
                  <i class="fa fa-plus mr-2"></i>
                  Report a Problem
                </a>
                <a
                  routerlink="/dealers/tickets"
                  class="btn btn-light mr-2"
                  style="
                    font-size: 12px;
                    background: #fff !important;
                    border: 0.3px solid #85838392 !important;
                  "
                >
                  <i class="fa fa-list mr-2"></i>
                  Tickets
                </a>

                <a
                  routerLink="/dealers/report-problem"
                  style="
                    font-size: 12px;
                    background: #fff !important;
                    border: 0.3px solid #85838392 !important;
                  "
                  class="btn mr-3"
                >
                  <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                </a>
              </span>
            </div>

            <div class="card-body p-0 mt-3 bg-white">
              <div class="card-header">Tickets</div>

              <div class="report-item" *ngIf="reportLoader">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-row">
                      <div class="ph-col-4 mb-3"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-8"></div>
                      <div class="ph-col-4 empty"></div>

                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>

                      <div class="ph-col-4"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body" *ngIf="reportStatus">
                <div
                  class="report-link mb-2 w-100"
                  *ngFor="let report of reportData"
                >
                  <div class="report-ctn p-2 pt-3">
                    <h6 class="report-title">
                      {{ report.subject }} (Ticket ID: {{ report.ticket_id }})
                    </h6>
                    <p class="mb-3 report-desc">{{ report.description }}</p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="small-data">
                        <span class="mr-2">
                          <i class="fa fa-bolt mr-1"></i>
                          {{ report.admin_count }}
                        </span>
                        <span class="mr-2">
                          <i class="fa fa-tag mr-1"></i>
                          Waiting
                        </span>

                        <span class="mr-2" *ngIf="report.status == 1">
                          <i class="fa fa-lock mr-1"></i>
                          Status: close
                        </span>

                        <span class="mr-2" *ngIf="report.status == 2">
                          <i class="fa fa-unlock mr-1"></i>
                          Status: open
                        </span>

                        <span class="mr-2">
                          <i class="fa fa-clock-o mr-1"></i>
                          {{ report.created_at | date: 'medium' }}
                        </span>
                      </p>
                      <a
                        routerLink="/dealers/view-tickets/{{
                          report.ticket_id
                        }}"
                        class="btn small-data btn-primary"
                      >
                        <i class="fa fa-list mr-1"></i>
                        View Reply
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
