<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <h3 class="section-header mb-4">Show Order Forms</h3>
        <div class="form-table-ctn px-2">
          <div class="header-search-ctn">
            <form action="" class="d-flex align-items-center form-wrapper">
              <span class="mr-3">Vendor Name</span>

              <div class="select-wrapper">
                <input
                  class="dummy-input"
                  type="text"
                  (click)="toggleVendors()"
                  value="Select vendor company"
                  readonly
                  #dummyInput
                />

                <div class="body-wrapper">
                  <div
                    *ngIf="showDropdown"
                    #dropdownSection
                    class="dropdown-section"
                  >
                    <input
                      type="text"
                      class="dropdown-filter"
                      (keyup)="applyFilter($event)"
                      #input
                    />

                    <ul>
                      <li
                        *ngFor="let data of allVendors"
                        (click)="getAllSelectedDealerUsers(data)"
                      >
                        {{ data.vendor_name }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- <select name="" class="form-control search-input" #vendorId>
                <option [selected]="selectVendor == 0" value="0">
                  Select Vendor
                </option>
                <option
                  class="category-text"
                  value="{{ category.vendor_code }}"
                  *ngFor="let category of allVendors"
                  [selected]="selectVendor == category.vendor_code"
                >
                  {{ category.vendor_name }}
                </option>
              </select> -->

              <button
                class="btn btn-primary ml-3"
                (click)="getProductByVendorId()"
              >
                <i class="fa fa-search me-2"></i>
                Search
              </button>
            </form>
          </div>

          <div
            class="table-ctn mt-3 p-3 table-responsive"
            style="background-color: white;"
          >
            <div class="d-flex justify-content-end" *ngIf="tableView">
              <span class="desc-text">Total: {{ overTotal | currency }}</span>
            </div>

            <table class="table" *ngIf="loader">
              <thead>
                <tr>
                  <td class="loader-td" colspan="8">
                    <div
                      class="ph-item"
                      style="padding: 0px 0px; border: 0px; margin-bottom: 0px;"
                    >
                      <div>
                        <div class="ph-picture"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="loader-td">
                    <div
                      class="ph-item"
                      style="
                        padding: 10px 10px;
                        border: 0px;
                        margin-bottom: 0px;
                      "
                    >
                      <div>
                        <div class="ph-row pt-2">
                          <div class="ph-col-12 p-1 rounded"></div>
                          <div class="ph-col-12 p-1 rounded"></div>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="loader-td">
                    <div
                      class="ph-item"
                      style="
                        padding: 10px 10px;
                        border: 0px;
                        margin-bottom: 0px;
                      "
                    >
                      <div>
                        <div class="ph-row pt-2">
                          <div class="ph-col-12 p-1 rounded"></div>
                          <div class="ph-col-12 p-1 rounded"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="loader-td">
                    <div
                      class="ph-item"
                      style="
                        padding: 10px 10px;
                        border: 0px;
                        margin-bottom: 0px;
                      "
                    >
                      <div>
                        <div class="ph-row pt-2">
                          <div class="ph-col-12 p-1 rounded"></div>
                          <div class="ph-col-12 p-1 rounded"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              *ngIf="tableView"
              class="order-form-table w-100 mat-elevation"
              mat-table
              [dataSource]="dataSrc"
              matSort
              (matSortChange)="announceSortChange($event)"
            >
              <ng-container matColumnDef="qty">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="white-space: nowrap;"
                >
                  Qty
                </th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="text-center"
                >
                  <input
                    id="cur-{{ i }}"
                    type="number"
                    class="mx-auto"
                    style="text-align: center;"
                    min="0"
                    #inputAmt
                    placeholder="Qty"
                    (keyup)="runCalculation(i, inputAmt.value, $event)"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="atlas_id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by number"
                >
                  Atlas #
                  <i class="fa fa-sort ml-2"></i>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.atlas_id! }}
                </td>
              </ng-container>
              <ng-container matColumnDef="vendor">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by name"
                >
                  Vendor #
                  <i class="fa fa-sort ml-2"></i>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.vendor }}
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <th></th>
                <td mat-cell *matCellDef="let element" class="short-note-con">
                  <span class="desc-text">{{ element.description! }}</span>
                  <span *ngFor="let spec of element.spec_data!; let l = index">
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                    ></span>
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                    >
                      {{ spec.desc }}
                    </span>
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="booking">
                <th mat-header-cell *matHeaderCellDef>Regular ($)</th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <span class="booking-text text-center">
                    {{ element.regular }}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="special">
                <th mat-header-cell *matHeaderCellDef>Special ($)</th>

                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="text-center"
                >
                  <span class="booking-text">
                    {{ element.booking | currency }}
                    <span
                      class="ticker fa fa-check normal-booking-{{ i }}"
                      id=""
                    ></span>

                    <span id="u-price-{{ i }}" class="u-price-text"></span>
                  </span>

                  <span *ngFor="let spec of element.spec_data; let j = index">
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                    >
                      {{ spec.special | currency }}
                      <span
                        class="ticker fa fa-check special-booking-{{ i }}-{{
                          j
                        }}"
                        id=""
                      ></span>
                    </span>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="extended">
                <th mat-header-cell *matHeaderCellDef>Extended ($)</th>

                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="text-center"
                >
                  <span #extend class="total-text" id="amt-{{ i }}">
                    {{ dummyAmt | currency }}
                  </span>
                  <span id="amt-hidd-{{ i }}" style="display: none;"></span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns; let i = index"
                [class.highlighted]="i == 0 && isMod"
              ></tr>
              <tr>
                <td
                  colspan="10"
                  class="p-4"
                  style="
                    padding: 5px;
                    background: rgb(223, 222, 222) !important;
                  "
                ></td>
              </tr>
            </table>

            <div class="d-flex justify-content-end" *ngIf="tableView">
              <span class="desc-text">Total: {{ overTotal | currency }}</span>
            </div>

            <mat-paginator
              [pageSizeOptions]="[10, 20, 50, 100]"
              showFirstLastButtons
              aria-label="Select page seminar pages"
            ></mat-paginator>

            <div
              *ngIf="showSubmittedDetails"
              class="alert alert-success mt-2 mb-2 d-flex align-items-center"
            >
              <i class="fa fa-check-circle" style="font-size: 30px;"></i>
              &nbsp;&nbsp;
              <div class="ml-2">
                <h6 class="mb-1" style="font-size: 16px;">Success</h6>
                <p style="font-size: 15px;">
                  {{ itemNewlySubmitted }} new item(s) have been submitted
                </p>
                <p style="font-size: 15px;" *ngIf="itemAlreadySubmitted != ''">
                  {{ itemAlreadySubmitted }} item(s) have already been submitted
                </p>
              </div>
            </div>
            <div
              class="w-100 justify-content-end d-flex py-3"
              *ngIf="canOrder"
              style="border-top: 0.2px solid rgba(98, 98, 98, 0.484);"
            >
              <button
                class="btn text-bold text-white bg-blue"
                [disabled]="cartLoader"
                (click)="oneAddBtn()"
              >
                <div *ngIf="!cartLoader">Confirm Order</div>
                <div *ngIf="cartLoader">
                  Confirm Order
                  <span
                    class="spinner-border spinner-border-sm text-white ps-1"
                  ></span>
                </div>
              </button>
            </div>
            <div class="d-flex flex-column indicator-wrapper">
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>Quantity Break Items</h6>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>Assorted Items</h6>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>Regular Show Priced Items</h6>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>New Items</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
