<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <h3 class="section-header mb-4">Show Order Forms</h3>
        <div class="form-table-ctn px-2">
          <div class="header-search-ctn">
            <form action="" class="d-flex align-items-center">
              <span class="mr-3">Vendor Name </span>
              <select name="" class="form-control search-input" #vendorId>
                <option selected value="0">Select Vendor</option>
                <option
                  class="category-text"
                  value="{{ category.vendor_code }}"
                  *ngFor="let category of allCategoryData"
                >
                  {{ category.vendor_name }}
                </option>
              </select>
              <button
                class="btn btn-primary ml-3"
                (click)="getProductByVendorId()"
              >
                <i class="fa fa-search me-2"></i> Search
              </button>
            </form>
          </div>

          <div class="table-ctn mt-3 p-3" style="background-color: white">
            <table
              class="order-form-table w-100 mat-elevation"
              mat-table
              [dataSource]="dataSrc"
              matSort
              (matSortChange)="announceSortChange($event)"
            >
              <ng-container matColumnDef="qty">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="white-space: nowrap"
                >
                  Qty
                </th>
                <td
                  mat-cell
                  *matCellDef="let element; index as i"
                  class="text-center"
                >
                  <input
                    type="number"
                    class="mx-auto"
                    min="0"
                    #qtyInput
                    (input)="runCalc(element, qtyInput.value, i)"
                    placeholder="Qty"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="atlas_id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by number"
                >
                  Atlas #
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.atlas_id! }}
                </td>
              </ng-container>
              <ng-container matColumnDef="vendor">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by name"
                >
                  Vendor #
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.vendor }}
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <th></th>
                <td mat-cell *matCellDef="let element" class="short-note-con">
                  <span class="desc-text">{{ element.description! }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="booking">
                <th mat-header-cell *matHeaderCellDef>Regular ($)</th>

                <td mat-cell *matCellDef="let element">
                  <span class="booking-text">
                    {{ element.regular | currency }}
                  </span>
                  <!-- <span *ngFor="let spec of element.spec_data">
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                      >{{ spec.special | currency }}</span
                    >
                  </span> -->
                </td>
              </ng-container>
              <ng-container matColumnDef="special">
                <th mat-header-cell *matHeaderCellDef>Special ($)</th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <input
                    type="number"
                    class="mx-auto"
                    min="0"
                    disabled
                    value="{{ element.booking }}"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="extended">
                <th mat-header-cell *matHeaderCellDef>Extended ($)</th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <input
                    type="number"
                    disabled
                    class="mx-auto"
                    min="0"
                    value="{{ element.extended }}"
                  />
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <tr>
              <td colspan="10" class="p-4"></td>
            </tr>

            <mat-paginator
              [pageSizeOptions]="[10, 20, 50, 100]"
              showFirstLastButtons
              aria-label="Select page seminar pages"
            >
            </mat-paginator>
            <div
              class="w-100 justify-content-end d-flex py-3"
              *ngIf="canOrder"
              style="border-top: 0.2px solid rgba(98, 98, 98, 0.484)"
            >
              <button
                class="btn text-bold text-white bg-blue"
                [disabled]="cartLoader"
                (click)="submitOrder()"
              >
                <div *ngIf="!cartLoader">Confirm Order</div>
                <div *ngIf="cartLoader">
                  <span class="spinner-border spinner-border-sm text-dark">
                  </span>
                </div>
              </button>
            </div>
            <div class="d-flex flex-column indicator-wrapper">
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>Quantity Break Items</h6>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>Assorted Items</h6>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>Regular Show Priced Items</h6>
                </div>
              </div>
              <div class="d-flex">
                <div>
                  <div class="indicator-color"></div>
                </div>
                <div>
                  <h6>New Items</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
