<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <h3 class="section-header mb-4">Show Order Forms</h3>
        <div class="form-table-ctn px-2">
          <div class="header-search-ctn">
            <form action="" class="d-flex align-items-center">
              <span class="mr-3">Vendor Name </span>
              <input type="text" class="search-input form-control" />
              <button class="btn btn-primary ml-3">
                <i class="fa fa-search me-2"></i> Search
              </button>
            </form>
          </div>
          <div class="table-ctn mt-3">
            <table class="order-form-table w-100">
              <thead>
                <th>Qty</th>
                <th>Atlas # <button class="btn"><i class="fa fa-sort text-white"></i></button></th>
                <th>Vendor # <button class="btn"><i class="fa fa-sort text-white"></i></button></th>
                <th>Description</th>
                <th>Regular($)</th>
                <th>Special($)</th>
                <th>Extended</th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-center">
                    <input type="number" class="mx-auto" />
                  </td>
                  <td>1095-2</td>
                  <td>ACM135</td>
                  <td><p class="">15K BTU ADVENT A/C-WHITE</p></td>
                  <td>$ 849.00</td>
                  <td>$ 799.00</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example paginate">
            <ul class="pagination mt-4 d-flex justify-content-end text-end">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
