.section-header {
  color: #ffffff;
  background-color: #a8a8a8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  background-color: #00547a !important;
}
.header-search-ctn {
  button {
    background-color: #054e6e !important;
  }
}

.search-input {
  max-width: 400px;
}
.paginate {
  color: #054e6e;
}
.order-form-table {
  td,
  th {
    border: 0.1px solid #fff;
  }
  th {
    background-color: #054e6e;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .bg-whitish{ background-color: #dfdfdf8b !important;
  color: #303030 !important;}

  td {
    background-color: #dfdfdf;
    padding: 8px;
    text-transform: capitalize;
    font-size: 16px;
    input {
      background-color: #fff;
      width: 60px;
      height: 30px;
      border-radius: 4px;
      ::placeholder{
        color: #dfdfdfb8 !important;
      }
      border: none;
    }
  }
}

.bg-blue {
  background-color: #006ea0;
  color: #fff;
}
.highlight {
  td {
    background-color: #6ba4bc;
  }
}

.short-note-con {
  position: relative;
}
.desc-text {
  display: block;
  font-weight: bold;
}
.special-text {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: red;
}
.view-special-text-amt {
  font-size: 14px;
  color: red;
  font-weight: 700;
  display: inline-block;
  padding-left: 10px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.view-special-text {
  font-size: 14px;
  color: red;
  font-weight: 700;
}

.assorted-color {
  color: green;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.quantity-color {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: red;
}
