<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion6" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSix">
                My Messages
              </a>
            </div>
            <div
              id="collapseSix"
              class="collapse show"
              data-parent="#accordion6"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 p-0">
                    <div id="accordion6" class="mb-3">
                      <div class="card">
                        <div class="card-header p-0">
                          <ul class="nav nav-pills d-flex w-100">
                            <li class="nav-item flex-fill">
                              <a
                                class="nav-link active"
                                data-toggle="pill"
                                href="#coworkers"
                              >
                                Co-workers
                                <span class="badge badge-danger">
                                  {{ coworkerMsgCount }}
                                </span>
                              </a>
                            </li>
                            <li class="nav-item flex-fill">
                              <a
                                class="nav-link"
                                data-toggle="pill"
                                href="#dealers"
                              >
                                Dealers
                                <span class="badge badge-danger">
                                  {{ dealerMsgCount }}
                                </span>
                              </a>
                            </li>
                            <li class="nav-item flex-fill">
                              <a
                                class="nav-link"
                                data-toggle="pill"
                                href="#vendors"
                              >
                                Vendors
                                <span class="badge badge-danger">
                                  {{ vendorMsgCount }}
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <div class="card-body chat-wrapper">
                            <div class="tab-content">
                              <div
                                class="tab-pane container active"
                                id="coworkers"
                              >
                                <ul class="coworker-ul">
                                  <div *ngFor="let data of adminUserData">
                                    <li
                                      *ngIf="data.id != userId"
                                      (click)="selectedUser(data)"
                                    >
                                      <span
                                        class="fa fa-address-card coworker-icon"
                                      ></span>
                                      {{ data?.first_name }}
                                      {{ data?.last_name }}

                                      <span class="badge badge-danger">
                                        {{ data?.notification }}
                                      </span>
                                    </li>
                                  </div>
                                </ul>

                                <div class="" *ngIf="coworkerLoader">
                                  <div class="ph-item ph-loader-item">
                                    <div class="ph-col-12">
                                      <div class="ph-row">
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <h6
                                  *ngIf="noCoworkerFound"
                                  class="no-user-found-text"
                                >
                                  no coworker found
                                </h6>
                              </div>
                              <div class="tab-pane container fade" id="dealers">
                                <div class="select-wrapper">
                                  <input
                                    class="dummy-input"
                                    type="text"
                                    (click)="toggleDealerDropDown()"
                                    value="Select dealer company"
                                    readonly
                                    #dummyDealerInput
                                  />

                                  <div
                                    *ngIf="showDealerDropdown"
                                    #dropdownSection
                                    class="dropdown-section"
                                  >
                                    <input
                                      type="text"
                                      class="dropdown-filter"
                                      (keyup)="applyFilterDealer($event)"
                                      #inputDealer
                                    />

                                    <ul>
                                      <li
                                        *ngFor="let data of allDealers"
                                        (click)="
                                          getAllSelectedDealerUsers(data)
                                        "
                                      >
                                        {{ data.company_name }}
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                <ul class="coworker-ul">
                                  <div *ngFor="let data of selectedDealerUser">
                                    <li
                                      *ngIf="data.id != userId"
                                      (click)="selectedUser(data)"
                                    >
                                      <span
                                        class="fa fa-address-card coworker-icon"
                                      ></span>
                                      {{ data?.first_name }}
                                      {{ data?.last_name }}

                                      <span class="badge badge-danger">
                                        {{ data?.notification }}
                                      </span>
                                    </li>
                                  </div>
                                </ul>

                                <h6
                                  *ngIf="noDealerUsersFound"
                                  class="no-user-found-text"
                                >
                                  no dealer user found
                                </h6>

                                <div class="" *ngIf="dealerLoader">
                                  <div class="ph-item ph-loader-item">
                                    <div class="ph-col-12">
                                      <div class="ph-row">
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="" *ngIf="showDealerUnreadMsg">
                                  <h6 class="unread-msg-text">
                                    Unread Messages
                                  </h6>

                                  <ul class="coworker-ul">
                                    <div *ngFor="let data of dealerUnreadMsg">
                                      <li
                                        *ngIf="data.id != userId"
                                        (click)="selectedUser(data)"
                                      >
                                        <span
                                          class="fa fa-address-card coworker-icon"
                                        ></span>
                                        {{ data?.first_name }}
                                        {{ data?.last_name }}

                                        <span class="badge badge-danger">
                                          {{ data?.notification }}
                                        </span>
                                      </li>
                                    </div>
                                  </ul>
                                </div>
                              </div>

                              <div class="tab-pane container" id="vendors">
                                <div class="select-wrapper">
                                  <input
                                    class="dummy-input"
                                    type="text"
                                    (click)="toggleVendorDropDown()"
                                    value="Select vendor company"
                                    readonly
                                    #dummyVendorInput
                                  />

                                  <div
                                    *ngIf="showVendorDropdown"
                                    #dropdownSection
                                    class="dropdown-section"
                                  >
                                    <input
                                      type="text"
                                      class="dropdown-filter"
                                      (keyup)="applyFilterVendor($event)"
                                      #inputVendor
                                    />

                                    <ul>
                                      <li
                                        *ngFor="let data of allVendors"
                                        (click)="
                                          getAllSelectedVendorUsers(data)
                                        "
                                      >
                                        {{ data.vendor_name }}
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                <ul class="coworker-ul">
                                  <div *ngFor="let data of selectedVendorUsers">
                                    <li
                                      *ngIf="data.id != userId"
                                      (click)="selectedUser(data)"
                                    >
                                      <span
                                        class="fa fa-address-card coworker-icon"
                                      ></span>
                                      {{ data?.first_name }}
                                      {{ data?.last_name }}

                                      <span class="badge badge-danger">
                                        {{ data?.notification }}
                                      </span>
                                    </li>
                                  </div>
                                </ul>

                                <h6
                                  *ngIf="noVendorUsersFound"
                                  class="no-user-found-text"
                                >
                                  no vendor user found
                                </h6>

                                <div class="" *ngIf="vendorLoader">
                                  <div class="ph-item ph-loader-item">
                                    <div class="ph-col-12">
                                      <div class="ph-row">
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                        <div class="ph-col-12 loader-col"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="" *ngIf="showVenorUnreadMsg">
                                  <h6 class="unread-msg-text">
                                    Unread Messages
                                  </h6>

                                  <ul class="coworker-ul">
                                    <div *ngFor="let data of vendorUnreadMsg">
                                      <li
                                        *ngIf="data.id != userId"
                                        (click)="selectedUser(data)"
                                      >
                                        <span
                                          class="fa fa-address-card coworker-icon"
                                        ></span>
                                        {{ data?.first_name }}
                                        {{ data?.last_name }}

                                        <span class="badge badge-danger">
                                          {{ data?.notification }}
                                        </span>
                                      </li>
                                    </div>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div id="accordion6" class="mb-3">
                      <div class="card">
                        <div class="card-header">
                          <!-- <div class="select-wrapper">
                            <h6>
                              Chat With {{ selectedUserData?.first_name }}
                              {{ selectedUserData?.last_name }}
                            </h6>
                          </div> -->
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <h6>
                                Chat With {{ selectedUserData?.first_name }}
                                {{ selectedUserData?.last_name }}
                              </h6>
                            </div>
                            <div>
                              <button
                                class="export-chat-btn"
                                *ngIf="showSelectedBtn"
                                (click)="exportChatHistory()"
                              >
                                <span class="fa fa-export"></span>
                                export chat
                              </button>
                            </div>
                          </div>
                        </div>
                        <div>
                          <table id="chat-export">
                            <thead>
                              <tr>
                                <th>Chat From</th>
                                <th>Chat To</th>
                                <th>Msg</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of messages">
                                <td>{{ data.from_username }}</td>
                                <td>{{ data.to_username }}</td>
                                <td>{{ data.msg }}</td>
                                <td>{{ data.created_at | date: 'medium' }}</td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="card-body chat-wrapper" #chatWrapper>
                            <ul class="chat-ul-wrapper">
                              <div *ngFor="let data of messages">
                                <!-- <div
                                  *ngIf="selectedUserUniqueId == data.sender"
                                > -->
                                <li
                                  [ngClass]="
                                    data.user == uniqueUserId
                                      ? 'shit-right'
                                      : 'shit-left'
                                  "
                                >
                                  {{ data.msg }}
                                  <span
                                    class="time-keeper-text"
                                    [ngClass]="
                                      data.user == uniqueUserId
                                        ? 'time-shift-left'
                                        : 'time-shift-right'
                                    "
                                  >
                                    {{ data.time_ago }}
                                  </span>
                                </li>
                                <!-- </div> -->
                              </div>
                            </ul>

                            <div class="" *ngIf="chatHistoryLoader">
                              <div class="ph-item ph-loader-item">
                                <div class="ph-col-12">
                                  <div class="ph-row">
                                    <div class="ph-col-6 left-loader-col"></div>
                                  </div>

                                  <div class="ph-row">
                                    <div
                                      class="ph-col-6 right-loader-col"
                                    ></div>
                                  </div>

                                  <div class="ph-row">
                                    <div class="ph-col-6 left-loader-col"></div>
                                  </div>

                                  <div class="ph-row">
                                    <div
                                      class="ph-col-6 right-loader-col"
                                    ></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex" *ngIf="userSelected">
                            <div class="flex-fill">
                              <h6 *ngIf="showTyping" class="typing-text">
                                Typing.............
                              </h6>

                              <textarea
                                class="chat-msg"
                                name=""
                                id=""
                                cols="30"
                                rows="10"
                                [(ngModel)]="msg"
                                (keypress)="trackKeyPress($event)"
                              ></textarea>
                            </div>
                            <div>
                              <button (click)="sendMsg()" class="send-btn">
                                Send
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
