<section>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-1 col-12"></div> -->

      <div class="col-md-6 col-12">
        <button
          *ngIf="setCsvBtn"
          (click)="callUploadInput()"
          class="btn btn-block upload-btn mb-2"
        >
          <span class="fa fa-upload upload-icon"></span>
          <span>Upload Vendor Users Csv</span>
        </button>
        <button
          *ngIf="uploadCsvSendBtn"
          (click)="uploadCsvServer()"
          class="btn btn-danger btn-block mb-2 p-2"
        >
          <span *ngIf="csvBtnText">
            <span class="fa fa-upload upload-icon"></span>
            Upload
          </span>
          <div *ngIf="csvBtnLoader">
            <span class="spinner-border spinner-border-sm"></span>
          </div>
        </button>
        <input
          required
          type="file"
          class="file-input-tag"
          #fileCsv
          id="csvFile"
          (change)="fileCsvUpload(fileCsv.files)"
          name="csvFile"
        />

        <div class="card justify-content-center">
          <div class="card-body">
            <!-- multistep form -->
            <form id="msform" [formGroup]="vendorUserForm" class="pt-2">
              <fieldset *ngIf="step1" class="shadow-sm">
                <h2 class="title">Create Promotional Flyer</h2>
                <!-- <h3 class="subtitle">Personal Details</h3> -->

                <div class="form-row">
                  <div class="col-md-12 mb-4">
                    <div class="form-group">
                      <label for="">Name</label>
                      <input
                        type="text"
                        name="fullName"
                        class="input-value shadow-sm"
                        placeholder="Full Name"
                        required
                        formControlName="fullName"
                      />
                      <div
                        class="input-alert-box"
                        *ngIf="
                          vendorUserFormControls.fullName.invalid &&
                          manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('fullName') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <div class="form-group">
                      <label for="">Description</label>

                      <input
                        type="text"
                        name="email"
                        class="input-value shadow-sm"
                        placeholder="Email Address"
                        required
                        formControlName="email"
                      />
                      <div
                        class="input-alert-box"
                        *ngIf="
                          vendorUserFormControls.email.invalid && manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('email') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-12 mb-4">
                    <div class="form-group">
                      <label for="">Vendor</label>

                      <select
                        (change)="assignVendor(vendor)"
                        type="text"
                        name="vendor"
                        class="input-value shadow-sm"
                        placeholder="Select Vendor"
                        required
                        formControlName="vendor"
                        #vendor
                      >
                        <option value="">
                          Select vendor
                        </option>
                        <option *ngFor="let data of allVendor">
                          {{ data.vendor_name }}
                        </option>
                      </select>

                      <div
                        class="input-alert-box"
                        *ngIf="
                          vendorUserFormControls.vendor.invalid && manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('vendor') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="">Image</label>

                      <input
                        type="text"
                        class="input-value shadow-sm"
                        name="password"
                        placeholder="password"
                        required
                        formControlName="password"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="vendorUserFormControls.password && manualChecker"
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('password') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-4">
                    <div class="form-group">
                      <label for="">PDF File</label>

                      <input
                        type="text"
                        class="input-value shadow-sm"
                        name="privilegeVendors"
                        placeholder="privilege vendors"
                        formControlName="privilegeVendors"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="
                          vendorUserFormControls.privilegeVendors.invalid &&
                          manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('privilegeVendors') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="submit-btn" (click)="submit()">
                  <span *ngIf="btnText">
                    Add Promotional Flyer
                    <span class="fa fa-user-plus dealer-icon"></span>
                  </span>
                  <div *ngIf="btnLoader">
                    <span class="spinner-border spinner-border-sm"></span>
                  </div>
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
