
.nav-layer-title {
    background-color: #a20029;
    color: #ffffff;
    padding: 10px;
  }

  .text-alert{
      font-weight: 700;
  }


  .title-text{
      margin-right: 20px;
      font-weight: 400;
  }


  



  