#message-content {
  padding-top: 50px;
}

.ph-loader-item {
  padding: 0px !important;
  border: 0px !important;
}

.ph-picture {
  height: 100px !important;
  width: 150px !important;
}

.loader-col {
  margin-bottom: 10px;
}

.right-loader-col {
  float: right;
  margin-left: auto;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.left-loader-col {
  float: left;
  margin-right: auto;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filter-wrapper {
  gap: 20px;
  margin-bottom: 20px;

  .input-wrapper {
    width: 30%;
    label {
      font-size: 1rem;
      font-weight: 800;
      color: gray;
    }

    .form-control:focus {
      border: 1px solid #555 !important;
      box-shadow: none;
    }

    input[type='email']:focus {
      border: 1px solid #555 !important;
    }
  }

  .btn-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 31px;
    width: 20%;
    button {
      border: 0px;
      border-radius: 4px;
      background-color: #4a0013;
      color: #ffffff;
      font-size: 14px;
      height: 38.5px;
      line-height: 1.7;
      padding: 6px 24px 6px 24px;

      * {
        color: #ffffff;
      }
    }
  }
}

.btn-wrapper2 {
  text-align: end;
  text-align: right;
  button {
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    width: 40%;
    background-color: #4a0013;
    padding: 8px;
  }
}

.select-wrapper {
  width: 300px;

  select {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    outline: 0;
    height: 38.5px;
    line-height: 1.7;
    padding: 6px 24px 6px 12px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.search-wrapper {
  margin-bottom: 10px;
  div {
    input {
      border-radius: 4px;
      border: 1px solid cyan;
      padding: 8px;
    }
  }
}

.indicator-wrapper {
  div:nth-child(1) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: red;
    }
  }

  div:nth-child(2) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: green;
    }
  }

  div:nth-child(3) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: black;
    }
  }

  div:nth-child(4) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: blue;
    }
  }
}

.selected-title-name {
  font-size: 20px;
  font-weight: 500;
  background-color: #f6f6f6;
  border-bottom: 1px solid #dadada;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-link {
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding-left: 10px;
}

.table-wrapper2 {
  thead {
    background-color: #4a0013;
  }

  thead th {
    color: #ffffff !important;
    background-color: #4a0013;
    padding: 10px;
    border-radius: 5px;
  }
}

.chat-wrapper {
  height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.chat-msg {
  width: 100%;
  height: 70px;
  resize: none;
  border-radius: 3px;
}

.send-btn {
  border: 0px;
  border-radius: 5px;
  padding: 7px 13px;
  background-color: #4a0013;
  color: #ffffff;
  font-size: 12px;
  height: 70px;
}

.chat-ul-wrapper {
  padding: 0px;
  margin: 0px;
  list-style-type: none;

  .shit-left {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: gray;
    color: #ffffff;
    padding: 10px;
    float: left;
    width: 60%;
  }

  .shit-right {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: cadetblue;
    color: #ffffff;
    padding: 10px;
    text-align: end;
    float: right;
    width: 60%;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.unread-msg-ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  .vendor-name {
    margin-top: 10px;
    margin-bottom: 2px;
    color: #555;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
  }

  .vendor-user-name {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #555;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
  }
}

.coworker-ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  li {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }
}

.coworker-icon {
  font-size: 25px;
  margin-right: 10px;
}

.selected-user-icon {
  font-size: 27px;
  margin-right: 8px;
}

.audio-tag {
  visibility: hidden;
}

.unread-msg-text {
  text-decoration: underline;
  font-size: 17px;
  font-weight: 600;
  color: #555;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.nav-pills .nav-link.active {
  background-color: darkred;
}

.no-user-found-text {
  color: red;
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
}

.dummy-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown-section {
  background-color: #ffffff;
  box-shadow: 1px 4px 2px rgb(219, 208, 208);
  padding: 10px;
  margin-top: -10px;

  ul {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    height: 400px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    li {
      padding: 10px 0px;
      border-bottom: 1px solid #ccc;
      font-size: 11px;
      cursor: pointer;
    }
  }

  .dropdown-filter {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
  }
}

.typing-text {
  color: #555;
  font-style: italic;
}

.time-keeper-text {
  color: #dadada;
  font-size: 10px;
  display: block;
}

.time-shift-right {
  text-align: end;
}

.time-shift-left {
  text-align: left;
}
