<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div id="accordion7" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSeven">
                <span class="fa fas fa-list-ul pr-2"></span>
                Add Admin
              </a>
            </div>
            <div
              id="collapseSeven"
              class="collapse show"
              data-parent="#accordion7"
            >
              <div class="card card-body">
                <button
                  *ngIf="setCsvBtn"
                  (click)="callUploadInput()"
                  class="btn btn-block upload-btn mb-2"
                >
                  <span class="fa fa-upload upload-icon"></span>
                  <span>Upload Admin Csv</span>
                </button>
                <button
                  *ngIf="uploadCsvSendBtn"
                  (click)="uploadCsvServer()"
                  class="btn btn-success btn-block mb-2 p-2"
                >
                  <span *ngIf="csvBtnText">
                    <span class="fa fa-upload upload-icon"></span>
                    Upload
                  </span>
                  <div *ngIf="csvBtnLoader">
                    <span class="spinner-border spinner-border-sm"></span>
                  </div>
                </button>
                <input
                  required
                  type="file"
                  class="file-input-tag"
                  #fileCsv
                  id="csvFile"
                  (change)="fileCsvUpload(fileCsv.files)"
                  name="csvFile"
                />

                <!-- multistep form -->
                <form id="msform" [formGroup]="adminForm" class="pt-2">
                  <fieldset *ngIf="step1" class="shadow-sm">
                    <h2 class="title">Create an Admin</h2>

                    <div class="form-group mb-4">
                      <input
                        type="text"
                        name="fullName"
                        class="input-value shadow-sm"
                        placeholder="Full Name"
                        required
                        formControlName="fullName"
                      />
                      <div
                        class="input-alert-box"
                        *ngIf="
                          adminFormControls.fullName.invalid && manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('fullName') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <input
                        type="text"
                        class="input-value shadow-sm"
                        name="designation"
                        placeholder="Designation"
                        required
                        formControlName="designation"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="
                          adminFormControls.designation.invalid && manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('designation') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <select
                        class="input-value shadow-sm"
                        data-placeholder="Choose the role"
                        required
                        formControlName="role"
                      >
                        <option selected>Choose the role</option>
                        <option value="1">Admin</option>
                        <option value="2">Branch Manager</option>
                        <option value="5">Inside sales</option>
                        <option value="6">Outside sales</option>
                      </select>

                      <div
                        class="input-alert-box"
                        *ngIf="adminFormControls.role.invalid && manualChecker"
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('role') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <input
                        type="text"
                        class="input-value shadow-sm"
                        name="accountAccess"
                        placeholder="Account Access"
                        required
                        formControlName="accountAccess"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="
                          adminFormControls.accountAccess.invalid &&
                          manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('accountAccess') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <input
                        type="text"
                        class="input-value shadow-sm"
                        name="region"
                        placeholder="Region"
                        required
                        formControlName="region"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="
                          adminFormControls.region.invalid && manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('region') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <button
                      type="submit"
                      name="submit"
                      class="next action-button"
                      (click)="checkStepOne()"
                    >
                      <span>Next</span>
                      <span
                        class="fa fa-arrow-circle-right next-step-icon"
                      ></span>
                    </button>
                  </fieldset>

                  <!-- fieldsets -->
                  <fieldset *ngIf="step2" class="shadow-sm">
                    <h2 class="title">Login Details</h2>

                    <div class="form-group mb-3">
                      <input
                        type="text"
                        class="input-value shadow-sm"
                        name="email"
                        required
                        formControlName="email"
                        placeholder="Email"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="adminFormControls.email.invalid && manualChecker"
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('email') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <input
                        type="password"
                        class="input-value shadow-sm"
                        name="password"
                        required
                        formControlName="password"
                        placeholder="Password"
                      />

                      <div
                        class="input-alert-box"
                        *ngIf="
                          adminFormControls.password.invalid && manualChecker
                        "
                      >
                        <div>
                          <span class="alert-input-msg">
                            {{ getErrorMessage('password') }}
                          </span>
                          <span
                            class="fa fa-exclamation-triangle alert-input-icon"
                            style="float: right;"
                          ></span>
                        </div>
                      </div>
                    </div>

                    <button class="previous-btn" (click)="Previous()">
                      <span
                        class="fa fa-arrow-circle-left left-step-icon"
                      ></span>
                      <span>Previous</span>
                    </button>

                    <button class="submit-btn" (click)="submit()">
                      <span *ngIf="btnText">
                        Add Admin User
                        <span class="fa fa-user-plus dealer-icon"></span>
                      </span>
                      <div *ngIf="btnLoader">
                        <span class="spinner-border spinner-border-sm"></span>
                      </div>
                    </button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
