<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion7" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSeven">
                <span class="fa fas fa-list-ul pr-2"></span>
                Add Admin
              </a>
            </div>
            <div
              id="collapseSeven"
              class="collapse show"
              data-parent="#accordion7"
            >
              <div class="card card-body">
                <button
                  *ngIf="setCsvBtn"
                  (click)="callUploadInput()"
                  class="btn btn-block upload-btn mb-2"
                >
                  <span class="fa fa-upload upload-icon"></span>
                  <span>Upload Admin Csv</span>
                </button>
                <button
                  *ngIf="uploadCsvSendBtn"
                  (click)="uploadCsvServer()"
                  class="btn btn-success btn-block mb-2 p-2"
                >
                  <span *ngIf="csvBtnText">
                    <span class="fa fa-upload upload-icon"></span>
                    Upload
                  </span>
                  <div *ngIf="csvBtnLoader">
                    <span class="spinner-border spinner-border-sm"></span>
                  </div>
                </button>
                <input
                  required
                  type="file"
                  class="file-input-tag"
                  #fileCsv
                  id="csvFile"
                  (change)="fileCsvUpload(fileCsv.files)"
                  name="csvFile"
                />

                <form [formGroup]="productForm">
                  <div class="d-flex flex-column">
                    <div class="w-100 in-form-section vendor-wrapper">
                      <div class="label-section"></div>
                      <div class="input-section">
                        <h5 class="vendor-text">Vendor Account</h5>
                        <input
                          type="text"
                          vendorAccount
                          name=""
                          required
                          formControlName="vendorAccount"
                          class="input-filter-edit shadow-sm"
                        />

                        <div
                          class="input-alert-box"
                          *ngIf="
                            productFormControls.vendorAccount.invalid &&
                            manualChecker
                          "
                        >
                          <div>
                            <span class="alert-input-msg">
                              {{ getErrorMessage('vendorAccount') }}
                            </span>
                            <span
                              class="fa fa-exclamation-triangle alert-input-icon"
                              style="float: right;"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 in-form-section">
                      <div class="label-section">
                        <h6>Atlas # *</h6>
                      </div>
                      <div class="input-section">
                        <input
                          type="text"
                          name="atlasId"
                          required
                          formControlName="atlasId"
                          class="input-filter-edit shadow-sm"
                        />

                        <div
                          class="input-alert-box"
                          *ngIf="
                            productFormControls.atlasId.invalid && manualChecker
                          "
                        >
                          <div>
                            <span class="alert-input-msg">
                              {{ getErrorMessage('atlasId') }}
                            </span>
                            <span
                              class="fa fa-exclamation-triangle alert-input-icon"
                              style="float: right;"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 in-form-section">
                      <div class="label-section">
                        <h6>Vendor # *</h6>
                      </div>
                      <div class="input-section">
                        <input
                          type="text"
                          name="vendorItemId"
                          required
                          formControlName="vendorItemId"
                          class="input-filter-edit shadow-sm"
                        />
                        <div
                          class="input-alert-box"
                          *ngIf="
                            productFormControls.vendorItemId.invalid &&
                            manualChecker
                          "
                        >
                          <div>
                            <span class="alert-input-msg">
                              {{ getErrorMessage('vendorItemId') }}
                            </span>
                            <span
                              class="fa fa-exclamation-triangle alert-input-icon"
                              style="float: right;"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 in-form-section">
                      <div class="label-section">
                        <h6>Description *</h6>
                      </div>
                      <div class="input-section">
                        <input
                          type="text"
                          name="description"
                          required
                          formControlName="description"
                          class="input-filter-edit shadow-sm"
                          placeholder="Description"
                        />

                        <div
                          class="input-alert-box"
                          *ngIf="
                            productFormControls.description.invalid &&
                            manualChecker
                          "
                        >
                          <div>
                            <span class="alert-input-msg">
                              {{ getErrorMessage('description') }}
                            </span>
                            <span
                              class="fa fa-exclamation-triangle alert-input-icon"
                              style="float: right;"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 in-form-section">
                      <div class="label-section">
                        <h6>Regular *</h6>
                      </div>
                      <div class="input-section">
                        <input
                          type="text"
                          name="regular"
                          required
                          formControlName="regular"
                          class="input-filter-edit shadow-sm"
                          placeholder="Regular Price (eg: 89.90)"
                        />

                        <div
                          class="input-alert-box"
                          *ngIf="
                            productFormControls.regular.invalid && manualChecker
                          "
                        >
                          <div>
                            <span class="alert-input-msg">
                              {{ getErrorMessage('regular') }}
                            </span>
                            <span
                              class="fa fa-exclamation-triangle alert-input-icon"
                              style="float: right;"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 in-form-section">
                      <div class="label-section">
                        <h6>Special *</h6>
                      </div>
                      <div class="input-section">
                        <input
                          type="text"
                          name="special"
                          required
                          formControlName="special"
                          class="input-filter-edit shadow-sm"
                          placeholder="Special Price (eg: 89.90)"
                        />

                        <div
                          class="input-alert-box"
                          *ngIf="
                            productFormControls.special.invalid && manualChecker
                          "
                        >
                          <div>
                            <span class="alert-input-msg">
                              {{ getErrorMessage('special') }}
                            </span>
                            <span
                              class="fa fa-exclamation-triangle alert-input-icon"
                              style="float: right;"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100 in-form-section">
                      <div class="label-section"></div>
                      <div class="input-section btn-wrapper">
                        <button (click)="submit()">
                          <span *ngIf="saveBtnStatus">Save</span>

                          <div *ngIf="!saveBtnStatus">
                            <span
                              class="spinner-border spinner-border-sm"
                            ></span>
                          </div>
                        </button>
                        <button (click)="resetForm()">Reset</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
