.data-card {
  border: 0px solid transparent;
  border-left: 2px solid #0a5476;
  min-height: 100px;
}
.card-icon {
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #00547a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px !important;
  position: relative;
  text-decoration: none !important;

  font-size: 32px;
}
.card-details {
  color: #000 !important;
}
.card-header-text {
  background-color: transparent !important;
  text-decoration: none !important;

  font-size: 0.75rem;
  color: rgb(60, 60, 60) !important;
}
.card-val {
  font-size: 1.2rem;
  text-decoration: none !important;
}
.grey{
  background-color: #e6e3e3;
}
.promotional-flyer-ctn{
  .header{
      color: rgb(60, 60, 60) !important;

  }
}