<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-3 mb-3 px-1">
            <a href="">
              <div class="card data-card">
                <div class="card-body d-flex p-3 py-4 align-items-center">
                  <div class="card-icon">
                    <span class="fa fa-shopping-cart"></span>
                  </div>
                  <div class="card-details pl-2">
                    <h5 class="card-header-text m-0 mb-2">Completed Orders</h5>
                    <h1 class="card-val">14</h1>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 mb-3 px-1">
            <a href="">
              <div class="card data-card">
                <div class="card-body d-flex p-3 py-4 align-items-center">
                  <div class="card-icon">
                    <span class="fa fa-dollar"></span>
                  </div>
                  <div class="card-details pl-2">
                    <h5 class="card-header-text m-0 mb-2">Show Total</h5>
                    <h1 class="card-val">14</h1>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 mb-3 px-1">
            <a href="">
              <div class="card data-card">
                <div class="card-body d-flex p-3 py-4 align-items-center">
                  <div class="card-icon">
                    <span class="fa fa-shopping-cart"></span>
                  </div>
                  <div class="card-details pl-2">
                    <h5 class="card-header-text m-0 mb-2">Orders Remaining</h5>
                    <h1 class="card-val">14</h1>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 mb-3 px-1">
            <a routerLink="/dealers/new-product">
              <div class="card data-card">
                <div class="card-body p-3 pb-4 align-items-center">
                  <h5 class="text-center blue-title">NEW <BR /> PRODUCTS</h5>
                  <p class=" text-center font-weight-bold" style="font-size:14px; color:black">14</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <a
                class="btn btn-block"
                data-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Sales summary for the day
              </a>
              <div class="collapse show" id="collapseExample">
                <div class="card card-body">
                  <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [title]="chartOptions.title"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h3 class="section-header mb-2">PROMOTIONAL FlYER</h3>

        <div class="card promotional-flyer-ctn px-4">
          <div class="py-5">
            <iframe
              title="Terms & Conditions"
              src="https://atlasbookingprogram.com/assets/2022%20Booking%20Program%20Terms%20&%20Conditions.pdf"
              width="100%"
              height="500px"
              style="background-color: #525659; border: none"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
`
