<section class="mt-5 ml-4">
  <div class="container-fluid">
    <div class="row">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content modal-custom-content">
            <button
              type="button"
              class="close close-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" class="modal-close-icon">&times;</span>
            </button>
            <div class="modal-body">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-center">
                  <!-- <div class="view-bg-img"></div> -->
                  <div
                    class="view-bg-img"
                    [style.background-image]="'url(' + currentData?.img + ')'"
                  ></div>
                </div>

                <div>
                  <span class="view-title-label">Name</span>
                  <h5 class="view-text-value">
                    {{ currentData?.description! }}
                  </h5>
                </div>
                <div>
                  <span class="view-title-label">Booking</span>
                  <h6 class="view-text-value">
                    {{ currentData?.booking | currency }}
                  </h6>
                </div>

                <div *ngIf="viewSet">
                  <span class="view-title-label">Special</span>
                  <div *ngFor="let spec of currentData.spec_data">
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                    ></span>

                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                      >{{ spec.cond }}+UP
                      <span class="span-shift">{{
                        spec?.special | currency
                      }}</span></span
                    >
                  </div>
                </div>

                <div class="mt-2">
                  <span class="view-title-label">Full Description</span>
                  <span class="view-desc-text">{{
                    currentData?.full_desc
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 p-0">
        <div
          class="alert alert-success alert-dismissible"
          id="cart-count-alert-con"
          *ngIf="cartCountAlert"
        >
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <span class="fa fa-check-circle"></span>
          <span class="pl-2"
            >{{ cartCount }} item(s) have been successfully added to cart</span
          >
        </div>

        <!-- <div class="alert alert-danger alert-dismissible" *ngIf="inCartStatus">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <span class="fa fa-times-circle-o"></span>
          <span class="pl-2"
            >Item(s) {{ repeatItems }} are already in your cart</span
          >
        </div> -->
        <div class="card table-card">
          <!-- <h3 class="title ml-3 mt-4">{{pageTitle}}</h3> -->

          <div class="">
            <div class="grid-margin">
              <div class="">
                <div class="table-responsive">
                  <table class="table" *ngIf="loader">
                    <thead>
                      <tr>
                        <td class="loader-td" colspan="8">
                          <div
                            class="ph-item"
                            style="
                              padding: 0px 0px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-picture"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="mt-4" >
                    <h5 class="text-center" *ngIf="tableView">Products</h5>

                    <table
                      *ngIf="tableView"
                      class="table text-nowrap mb-0 align-items-center mb-0"
                    >
                      <thead class="bg-blue text-white">
                        <tr>
                          <!-- <th class="text-white table-head">Qty</th> -->
                          <th class="text-white table-head">Atlas #</th>
                          <th class="text-white table-head">Vendor</th>
                          <th class="text-white table-head">Vendor Name</th>

                          <th class="text-white table-head">Description</th>
                          <th class="text-white table-head">Regular ($)</th>
                          <th class="text-white table-head">Special ($)</th>
                        </tr>
                      </thead>
                      <tbody class="table-bordered" *ngIf="productStatus">
                        <tr *ngFor="let data of productData; let i = index">
                          <td>
                            <span class="atlas-text-id">{{
                              data?.atlas_id
                            }}</span>
                          </td>
                          <td>
                            {{ data.vendor! }}
                          </td>
                          <td>
                            <a
                              routerLink="/dealers/show-orders/{{
                                data.vendor!
                              }}/{{ data.atlas_id! }}"
                              class="link"
                            >
                              {{ data.vendor_name }}</a
                            >
                          </td>
                          <td>
                            <span class="desc-text">{{
                              data.description!
                            }}</span>
                            <span
                              *ngFor="
                                let spec of parser(data.spec_data);
                                let l = index
                              "
                            >
                              <span
                                [class.assorted-color]="spec.type == 'assorted'"
                              ></span>
                              <span
                                [class.assorted-color]="spec.type == 'assorted'"
                                [class.quantity-color]="spec.type == 'special'"
                              >
                                {{ spec.desc }}
                              </span>
                            </span>
                          </td>

                          <td>
                            <span class="booking-text"
                              >{{ data.regular | currency }}
                              <!-- <span
                              class="ticker fa fa-check normal-booking-{{ i }}"
                              id=""
                            ></span> -->
                            </span>
                            <span
                              *ngFor="
                                let spec of parser(data.spec_data);
                                let j = index
                              "
                            >
                              <span
                                [class.assorted-color]="spec.type == 'assorted'"
                                [class.quantity-color]="spec.type == 'special'"
                                >{{ spec.special | currency }}
                              </span>
                            </span>
                          </td>

                          <td>
                            <span class="booking-text"
                              >{{ data.booking | currency }}
                              <!-- <span
                              class="ticker fa fa-check normal-booking-{{ i }}"
                              id=""
                            ></span> -->
                            </span>
                          </td>
                        </tr>
                      </tbody>
                      <tbody>
                        <tr *ngIf="productNoData">
                          <td class="text-center" colspan="8">
                            This
                            <span class="font-weight-bold">#{{ search }}</span>
                            is not on the show
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="mt-4 mb-3">
                    <h5 class="text-center" *ngIf="tableView">Vendors</h5>
                    <table
                      class="table text-nowrap mb-0 align-items-center mb-0"
                      *ngIf="tableView"
                    >
                      <thead class="bg-blue text-white">
                        <tr>
                          <th class="text-white table-head">Vendor Id</th>
                          <th class="text-white table-head">Vendor Name</th>
                        </tr>
                      </thead>
                      <tbody class="table-bordered" *ngIf="vendorStatus">
                        <tr *ngFor="let data of vendorData">
                          <td>
                            {{ data.vendor_code }}
                          </td>
                          <td>
                            <a
                              routerLink="/dealers/show-orders/{{
                                data.vendor_code!
                              }}/{{ nuller }}"
                              class="link"
                            >
                              {{ data.vendor_name }}</a
                            >
                          </td>
                        </tr>
                      </tbody>
                      <tbody>
                        <tr *ngIf="vendorNoData">
                          <td class="text-center" colspan="8">
                            Vendor Id
                            <span class="font-weight-bold">#{{ search }}</span>
                            is not on the show
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
