<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row mb-1">
              <div class="col">
                <p class="mb-1">All Seminars</p>

                <h3 class="mb-0 number-font">{{ totalOrder }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row mb-1">
              <div class="col">
                <p class="mb-1">Open Seminar</p>

                <h3 class="mb-0 number-font">{{ totalProducts }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row mb-1">
              <div class="col">
                <p class="mb-1">Closed Seminar</p>

                <h3 class="mb-0 number-font">{{ totalDealer }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row mb-1">
              <div class="col">
                <p class="mb-1">Attended Seminar</p>

                <h3 class="mb-0 number-font">{{ totalCatalogue }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="card recent-order-card">
          <div class="d-flex justify-content-between p-3">
            <div>
              <h3 class="card-title">Recently Added Seminar</h3>
            </div>
            <div>
              <a routerLink="/seminar" class="view-all-btn">
                view all
              </a>
            </div>
          </div>

          <div class="">
            <div class="grid-margin">
              <div class="">
                <div class="table-responsive">
                  <table class="table" *ngIf="loader">
                    <thead>
                      <tr>
                        <td class="loader-td" colspan="8">
                          <div
                            class="ph-item"
                            style="
                              padding: 0px 0px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-picture"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    *ngIf="tableView"
                    class="table text-nowrap align-items-center mb-0"
                  >
                    <thead class="thead-dark">
                      <tr>
                        <th class="thead-custom">Semainar Name</th>
                        <th class="thead-custom">Orgainzer</th>
                        <th class="thead-custom">Status</th>
                        <th class="thead-custom">Bookmark</th>
                        <th class="thead-custom">Date</th>
                        <th class="thead-custom">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let order of recentOrders">
                        <td>
                          <span class="tbody-text">{{ order.account_id }}</span>
                        </td>
                        <td>
                          <span class="tbody-text">
                            {{ order.dealer_name }}
                          </span>
                        </td>
                        <td>
                          <span class="tbody-text">{{ order.total_item }}</span>
                        </td>
                        <td>
                          <span class="tbody-text">
                            {{ order.total_amt | currency }}
                          </span>
                        </td>
                        <td>
                          <span class="tbody-text">
                            {{ order.order_date | date: 'medium' }}
                          </span>
                        </td>
                        <td>
                          <a
                            routerLink="/admin/view-order/{{ order.id }}"
                            class="recent-btn"
                          >
                            <span class="fa fa-eye"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card recent-order-card">
          <div class="d-flex justify-content-between p-3">
            <div>
              <h3 class="card-title">Attending Seminar</h3>
            </div>
          </div>

          <div class="">
            <div class="grid-margin">
              <div class="">
                <div class="table-responsive">
                  <table class="table" *ngIf="loader">
                    <thead>
                      <tr>
                        <td class="loader-td" colspan="8">
                          <div
                            class="ph-item"
                            style="
                              padding: 0px 0px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-picture"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="d-flex flex-column p-3">
                    <div class="attending-seminar-wrapper">
                      <h5>First Seminar for Atlas EOS</h5>
                      <h6>Achawayne Sixtus</h6>
                      <p>6th june 2022</p>
                    </div>

                    <div class="attending-seminar-wrapper">
                      <h5>Second Seminar for Atlas EOS</h5>
                      <h6>Progress apa</h6>
                      <p>20th june 2022</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
