.section-header {
  color: #ffffff;
  background-color: #a8a8a8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
 tbody {
    tr:nth-child(2n + 2) {
      background: rgb(223, 222, 222) !important;
    }
  }
.btn-primary{
    background-color: #00547A !important;
}
.card-header{
  // background-color: #f6f6f6;
  // border-bottom: .2px solid #a8a8a8;
font-size: 20px;}
.header-search-ctn {
  button {
    background-color: #054e6e !important;
  }
}
.search-input {
  max-width: 230px;
}
.paginate {
  color: #054e6e;
} tbody {
    tr:nth-child(2n + 2) {
      background: rgb(223, 222, 222) !important;
    }
  }
.order-form-table {
  td,
  th {
    text-align: center;
    border: 0.1px solid #fff;
  }
  thead {
    background-color: #054e6e;
    color: #fff;
    font-size: 17px;
    th {
      padding: 10px;
      font-weight: 500;
    }
  }
  tbody {
    td {
      padding: 8px;
      input {
        background-color: #fff;
        width: 60px;
        height: 30px;
        border-radius: 4px;
        border: none;
      }
    }
  }
}
