<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <div class="form-table-ctn px-2pt-4">
          <div class="card">
            <div class="card-header">Order Summary</div>
            <div class="card-body">
              <div class="header-search-ctn">
                <form
                  action=""
                  class="d-flex align-items-center justify-content-between"
                >
                  <div class="input-group">
                    <select
                      class="search-input form-control px-3"
                      style="display: block"
                      placeholder="Select Vendor.."
                      #vendorId
                    >
                      <option value="all" selected>Select a Vendor..</option>
                      <option value="all" selected>All</option>
                      <option
                        class="category-text"
                        value="{{ vendor.vendor_code }}"
                        *ngFor="let vendor of vendors"
                      >
                        {{ vendor.vendor_name }}
                      </option>
                    </select>
                    <button
                      class="btn btn-primary ml-3"
                      (click)="getCartByVendorId(vendorId.value)"
                    >
                      <i class="fa fa-search mr-2"></i> Go
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Order List</div>
            <div class="card-body">
              <table class="table" *ngIf="loader">
                <thead>
                  <tr>
                    <td class="loader-td" colspan="8">
                      <div
                        class="ph-item"
                        style="
                          padding: 0px 0px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-picture"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="loader-td">
                      <div
                        class="ph-item"
                        style="
                          padding: 10px 10px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-row pt-2">
                            <div class="ph-col-12 p-1 rounded"></div>
                            <div class="ph-col-12 p-1 rounded"></div>
                          </div>
                        </div>
                      </div>
                    </td>

                    <td class="loader-td">
                      <div
                        class="ph-item"
                        style="
                          padding: 10px 10px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-row pt-2">
                            <div class="ph-col-12 p-1 rounded"></div>
                            <div class="ph-col-12 p-1 rounded"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="loader-td">
                      <div
                        class="ph-item"
                        style="
                          padding: 10px 10px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-row pt-2">
                            <div class="ph-col-12 p-1 rounded"></div>
                            <div class="ph-col-12 p-1 rounded"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="loader-td">
                      <div
                        class="ph-item"
                        style="
                          padding: 10px 10px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-row pt-2">
                            <div class="ph-col-12 p-1 rounded"></div>
                            <div class="ph-col-12 p-1 rounded"></div>
                          </div>
                        </div>
                      </div>
                    </td>

                    <td class="loader-td">
                      <div
                        class="ph-item"
                        style="
                          padding: 10px 10px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-row pt-2">
                            <div class="ph-col-12 p-1 rounded"></div>
                            <div class="ph-col-12 p-1 rounded"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="loader-td">
                      <div
                        class="ph-item"
                        style="
                          padding: 10px 10px;
                          border: 0px;
                          margin-bottom: 0px;
                        "
                      >
                        <div>
                          <div class="ph-row pt-2">
                            <div class="ph-col-12 p-1 rounded"></div>
                            <div class="ph-col-12 p-1 rounded"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="table-view" *ngIf="!loader">
                <div class="table-ctn mt-3" *ngIf="selectDefault">
                  <table
                    class="order-form-table w-100 mb-4"
                    *ngFor="let order of newTable"
                  >
                    <thead>
                      <th>Qty</th>
                      <th>Atlas #</th>

                      <th>Vendor #</th>
                      <th>Description</th>
                      <th>Special Price ($)</th>
                      <th>Total ($)</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of order[1]">
                        <td class="text-center">{{ product.qty }}</td>
                        <td class="text-center">{{ product.atlas_id }}</td>
                        <td class="text-center">{{ product.vendor }}</td>
                        <td class="text-center">
                          <p class="text-center">{{ product.description }}</p>
                        </td>

                        <td class="text-center">
                          {{ product.unit_price | currency }}
                        </td>
                        <td class="text-center">
                          {{ product.price | currency }}
                        </td>
                      </tr>
                      <tr>
                        <td
                          colspan="5"
                          style="
                            text-align: end;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #437c17;
                          "
                        >
                          Total for {{ order[0] }}
                        </td>
                        <td
                          style="
                            text-align: end;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #437c17;
                          "
                        >
                          {{ order[2] | currency }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="w-100" *ngIf="selectDefault">
                    <tr>
                      <td
                        colspan="2"
                        style="
                          text-align: end;
                          padding: 10px;
                          text-transform: uppercase;
                          font-weight: 700;
                          background-color: #f0f0f0;
                          border: 0.5px solid #cccaca;
                        "
                      >
                        Grand Total($)
                      </td>
                      <td
                        style="width: 150px;
                          padding: 10px;
                          background-color: #f0f0f0;
                          border: 0.5px solid #cccaca;
                          text-align: end;
                          text-transform: uppercase;
                          font-weight: 700;
                        "
                      >
                        {{ grandTotal | currency }}
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="table-ctn mt-3" *ngIf="!selectDefault">
                  <table class="order-form-table w-100 mb-4">
                    <thead>
                      <th>Qty</th>
                      <th>Atlas #</th>

                      <th>Vendor #</th>
                      <th>Description</th>
                      <th>Special Price ($)</th>
                      <th>Total ($)</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of orderTable">
                        <td class="text-center">{{ product.qty }}</td>
                        <td class="text-center">{{ product.atlas_id }}</td>
                        <td class="text-center">
                          {{ product.product_vendor_product_code }}
                        </td>
                        <td class="text-center">
                          <p class="text-center">
                            {{ product.product_description }}
                          </p>
                        </td>

                        <td class="text-center">
                          {{ product.unit_price | currency }}
                        </td>
                        <td class="text-center">
                          {{ product.price | currency }}
                        </td>
                      </tr>
                      <tr>
                        <td
                          colspan="5"
                          style="
                            text-align: end;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #437c17;
                          "
                        >
                          Total for {{ orderTable[0]?.vendor_name }}
                        </td>
                        <td
                          style="
                            text-align: end;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #437c17;
                          "
                        >
                          {{ orderTotal | currency }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
