<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <div class="form-table-ctn px-2pt-4">
          <div class="card bg-transparent border-0">
            <div
              class="card-header mb-4 d-flex align-items-center justify-content-between"
            >
              <span>Report A Problem</span>
              <span
                ><a class="btn btn-light mr-2" style="font-size: 14px"
                  ><i class="fa fa-list mr-2"></i> Tickets</a
                > <a class="btn btn-light mr-3" style="font-size: 14px"
                  ><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> </a
                ></span
              >
            </div>

            <div class="card-body p-0 mt-3 bg-white">
              <div class="card-header">
                <i class="fa fa-comments mr-3"></i> Please tell us more
              </div>
              <div class="card-body">
                <form>
                  <p class="text-danger" *ngIf="formError">
                    *input field empty
                  </p>
                  <input
                    type="text"
                    #subject
                    class="form-control mb-2"
                    placeholder="Subject"
                    required
                  />
                  <textarea
                    name="complaint"
                    class="form-control"
                    #description
                    placeholder="Please give a detailed description of the problem, and a member of our admin team would  be in touch with you as soon as possible"
                    id=""
                    cols="30"
                    rows="10"
                    required
                  ></textarea>
                  <div class="alert alert-warning mt-2">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp; Max attachment
                    is 5MB, File format supported (pdf, doc, docx, xls, jpeg,
                    png, gif)
                  </div>
                  <input
                    name="file"
                    #photo
                    type="file"
                    required
                    (change)="fileUpload()"
                    max-size="5000"
                    class="form-control-file p-2"
                    style="border: 0.2px solid #ced4da"
                  />
                  <div class="w-100 justify-content-end d-flex mt-3">
                    <div
                      class="alert alert-success mt-2 mb-2 d-flex align-items-center"
                      *ngIf="responseSuccess"
                      #reportForm
                    >
                      <i class="fa fa-check-circle" style="font-size: 40px"></i
                      >&nbsp;&nbsp;
                      <div class="ml-2">
                        <h4 class="mb-2">Message sent Successfully</h4>
                        <p>
                          Your message has been received, and a member of our
                          team will get back to you in 5minutes.
                        </p>
                      </div>
                    </div>
                    <button
                      class="btn btn-light"
                      style="border: 0.2px solid #858383"
                      [disabled]="formLoader"
                      (click)="submitReport()"
                    >
                      <div *ngIf="!formLoader">
                        <i class="fa fa-paper-plane mr-2"></i>Send
                      </div>

                      <div *ngIf="formLoader">
                        <span
                          class="spinner-border spinner-border-sm text-dark"
                        >
                        </span>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
