<p>report-problem works!</p>
<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <div class="form-table-ctn px-2pt-4">
          <div class="card">
            <div class="card-header">Report A Problem</div>
            <div class="card-body">
              <div class="card-header">
                <i class="fa fa-comments mr-3"></i> Please tell us more
              </div>
              <div class="card-body">
                <form action="">
                  <input
                    type="text"
                    class="form-control mb-2"
                    placeholder="Subject"
                  />
                  <textarea
                    name="complaint"
                    class="form-control"
                    placeholder="Please give a detailed description of the problem, and a member of our admin team would  be in touch with you as soon as possible"
                    id=""
                    cols="30"
                    rows="10"
                  ></textarea>
                  <div class="alert alert-warning mt-2">
                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp; Max attachment
                    is 5MB, File format supported (pdf, doc, docx, xls, jpeg,
                    png, gif)
                  </div>
                  <input name="file" type="file" class="form-control-file p-2" style="border: .2px solid #ced4da;" />
                  <div class="w-100 justify-content-end d-flex mt-3">
                    <button class="btn btn-light" style="border: .2px solid #858383;">
                      <i class="fa fa-paper-plane mr-2"></i>Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
