<section>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="accordion6" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSix">
                Price Override
              </a>
            </div>
            <div
              id="collapseSix"
              class="collapse show"
              data-parent="#accordion6"
            >
              <div class="card-body">
                <div class="d-flex w-100 filter-wrapper">
                  <div class="input-wrapper">
                    <div class="form-group">
                      <label for="email">Dealer Account #</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Dealer Account #"
                        id="email"
                        [(ngModel)]="dealerCode"
                      />
                    </div>
                  </div>
                  <div class="input-wrapper">
                    <div class="form-group">
                      <label for="email">Enter Atlas #</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Atlas #"
                        id="email"
                        [(ngModel)]="atlasCode"
                      />
                    </div>
                  </div>
                  <div class="btn-wrapper">
                    <button class="" (click)="getDealerCart()">
                      Enter
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="accordion7" class="mb-3">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseSeven">
                <span class="fa fas fa-list-ul pr-2"></span>

                Order detail
              </a>
            </div>
            <div
              id="collapseSeven"
              class="collapse show"
              data-parent="#accordion7"
            >
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table" *ngIf="loader">
                    <thead>
                      <tr>
                        <td class="loader-td" colspan="8">
                          <div
                            class="ph-item"
                            style="
                              padding: 0px 0px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-picture"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="loader-td">
                          <div
                            class="ph-item"
                            style="
                              padding: 10px 10px;
                              border: 0px;
                              margin-bottom: 0px;
                            "
                          >
                            <div>
                              <div class="ph-row pt-2">
                                <div class="ph-col-12 p-1 rounded"></div>
                                <div class="ph-col-12 p-1 rounded"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table
                    *ngIf="tableView"
                    class="table table-striped text-nowrap table-wrapper2 align-items-center mb-0"
                  >
                    <thead>
                      <tr>
                        <th class="thead-custom">Qty</th>
                        <th class="thead-custom">New Qty</th>
                        <th class="thead-custom">Atlas #</th>
                        <th class="thead-custom">Vendor #</th>
                        <th class="thead-custom">Description</th>
                        <th class="thead-custom">Show Price ($)</th>
                        <th class="thead-custom">New Price ($)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="dataInbound">
                        <td>{{ cartData.qty }}</td>
                        <td>
                          <input
                            type="text"
                            class="edit-input"
                            [(ngModel)]="newQty"
                            placeholder="New Qty"
                          />
                        </td>
                        <td>
                          {{ cartData.atlas_id }}
                        </td>
                        <td>
                          {{ cartData.vendor }}
                        </td>
                        <td>
                          {{ cartData.description }}
                        </td>
                        <td>
                          {{ cartData.price }}
                        </td>
                        <td>
                          <input
                            type="text"
                            class="edit-input"
                            [(ngModel)]="newPrice"
                            placeholder="New Price"
                          />
                        </td>
                      </tr>
                      <tr *ngIf="noOrderFound">
                        <td colspan="7" class="text-center">No order listed</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <hr />
                <div class="btn-wrapper2">
                  <button>Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
