.loader-td {
  padding: 0px !important;
}

.ph-item {
  padding: 0px !important;
}

.ph-picture {
  height: 50px !important;
}

.filter-wrapper {
  gap: 20px;
  margin-bottom: 20px;

  .input-wrapper {
    width: 30%;
    label {
      font-size: 1rem;
      font-weight: 800;
      color: gray;
    }

    .form-control:focus {
      border: 1px solid #555 !important;
      box-shadow: none;
    }

    input[type='email']:focus {
      border: 1px solid #555 !important;
    }
  }

  .btn-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 31px;
    width: 20%;
    button {
      border: 0px;
      border-radius: 4px;
      background-color: #4a0013;
      color: #ffffff;
      font-size: 14px;
      height: 38.5px;
      line-height: 1.7;
      padding: 6px 24px 6px 24px;

      * {
        color: #ffffff;
      }
    }
  }
}

.btn-wrapper2 {
  text-align: end;
  text-align: right;
  button {
    border: 0px;
    border-radius: 4px;
    color: #ffffff;
    width: 40%;
    background-color: #4a0013;
    padding: 8px;
  }
}

.search-wrapper {
  margin-bottom: 10px;
  div {
    input {
      border-radius: 4px;
      border: 1px solid cyan;
      padding: 8px;
    }
  }
}

.indicator-wrapper {
  div:nth-child(1) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: red;
    }
  }

  div:nth-child(2) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: green;
    }
  }

  div:nth-child(3) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: black;
    }
  }

  div:nth-child(4) {
    gap: 10px;

    h6 {
      font-size: 13px;
      color: #555;
    }

    .indicator-color {
      height: 15px;
      width: 15px;
      background-color: blue;
    }
  }
}

.selected-title-name {
  font-size: 20px;
  font-weight: 500;
  background-color: #f6f6f6;
  border-bottom: 1px solid #dadada;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-link {
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding-left: 10px;
}

.table-wrapper2 {
  thead {
    background-color: #4a0013;
  }

  thead th {
    color: #ffffff !important;
    background-color: #4a0013;
    padding: 10px;
    border-radius: 5px;
  }
}

.edit-input {
  border: 1px solid gray;
  width: 60%;
  padding: 10px;
  font-size: 13px;
}
