.section-header {
  color: #ffffff;
  background-color: #a8a8a8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  background-color: #00547a !important;
}
.header-search-ctn {
  button {
    background-color: #054e6e !important;
  }
}
.search-input {
}
.paginate {
  color: #054e6e;
}
.order-form-table {
  td,
  th {
    border: 0.1px solid #fff;
  }
  thead {
    background-color: #054e6e;
    color: #fff;
    font-size: 17px;
    th {
      padding: 10px;
      font-weight: 500;
    }
  }
  tbody {
    background-color: #dfdfdf;
    td {
      padding: 8px;
      input {
        background-color: #fff;
        width: 60px;
        height: 30px;
        border-radius: 4px;
        border: none;
      }
    }
  }
}
