<section class="overview-section">
  <div class="container-fluid p-0">
    <div class="row my-5 ml-4">
      <div class="col-12">
        <h3 class="section-header mb-4">Quick Order</h3>
        <div class="form-table-ctn px-2">
          <div class="header-search-ctn">
            <div class="d-flex align-items-center justify-content-between">
              <div class="input-group">
                <span class="mr-3">Atlas#/Vendor No.</span>
                <input
                  type="text"
                  id="searchid"
                  [(ngModel)]="searchId"
                  name="searchId"
                  class="search-input form-control"
                  style="max-width: 170px !important"
                  (input)="fetchProductById()"
                  #searchid
                />
              </div>
              <div class="input-group">
                <span class="">Vendor Name </span>
                <input
                  type="text"
                  disabled
                  #vendorInput
                  [value]="searchResultData?.vendor_name!"
                  class="search-input form-control"
                  style="width: 200px !important"
                />
              </div>

              <div class="input-group">
                <span class="mr-3">Qty </span>
                <input
                  type="number"
                  class="search-input form-control"
                  [disabled]="disabled"
                  min="0"
                  (input)="qtyInputCheck(qtyInput.value, false)"
                  style="max-width: 70px !important"
                  #qtyInput
                />
                <button
                  class="btn btn-primary ml-3"
                  [disabled]="disabledBtn"
                  (click)="qtyInputCheck(qtyInput.value, true)"
                >
                  <div *ngIf="!addLoader">ADD</div>
                  <div *ngIf="addLoader">
                    ADD
                    <span
                      class="spinner-border spinner-border-sm text-dark ps-1"
                    >
                    </span>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="w-100 search-data-ctn mb-3 " *ngIf="searchStatus">
           
            <table>
              <tr>
                <td>
                  <h5 class="m-0">
                    {{ searchResultData.description }}
                  </h5>
                </td>
                <td class="value">
                  {{ searchResultData.booking | currency }}
                </td>
              </tr>
              <tr>
                <td class="value red">
                  <span
                    *ngFor="
                      let spec of parser(searchResultData.spec_data!);
                      let l = index
                    "
                  >
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                    ></span>
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                    >
                      {{ spec.desc }}
                    </span>
                  </span>
                </td>
                <td class="value blue">
                  <span
                    *ngFor="
                      let spec of parser(searchResultData.spec_data!);
                      let j = index
                    "
                  >
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                      >{{ spec.special }}
                    </span>
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <div class="w-100 search-data-ctn mb-3" *ngIf="noData">
            <table>
              <tr>
                <td class="text-center value red" colspan="8">
                  This Part no.
                  <span class="font-weight-bold">#{{ searchId }}</span> is not
                  on the show
                </td>
              </tr>
            </table>
          </div>
          <div class="table-ctn mt-3 p-3" style="background-color: white">
             <div class="card-header d-flex justify-content-between">
              <h5 class="">
                <span><i class="fa mr-2 fa-list"></i> Order List</span>
              </h5>
              <button class="btn btn-light" (click)="clearCart()">
                <i class="fa mr-2 fa-eraser"></i> Clear Cart
              </button>
            </div>
            <table
              class="order-form-table w-100 mat-elevation"
              mat-table
              [dataSource]="dataSrc"
              matSort
              (matSortChange)="announceSortChange($event)"
            >
              <ng-container matColumnDef="qty">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="white-space: nowrap"
                >
                  Qty
                </th>
                <td
                  mat-cell
                  *matCellDef="let element; index as i"
                  class="text-center"
                >
                  <input
                    type="number"
                    class="mx-auto"
                    min="0"
                    value="{{ element.quick_order_qty }}"
                    #tableQtyInput
                    (input)="runCalc(element, tableQtyInput.value, true)"
                    placeholder="Qty"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="atlas_id">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by number"
                >
                  Atlas #
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.atlas_id! }}
                </td>
              </ng-container>
              <ng-container matColumnDef="vendor">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by name"
                >
                  Vendor #
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.vendor }}
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <th></th>
                <td mat-cell *matCellDef="let element" class="short-note-con">
                  <span class="desc-text">{{ element.description! }}</span>
                  <span
                    *ngFor="
                      let spec of parser(element.spec_data!);
                      let l = index
                    "
                  >
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                    ></span>
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                    >
                      {{ spec.desc }}
                    </span>
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="booking">
                <th mat-header-cell *matHeaderCellDef>Regular ($)</th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <span class="booking-text text-center">
                    {{ element.regular }}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="special">
                <th mat-header-cell *matHeaderCellDef>Special ($)</th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <span>{{ element.booking }}</span
                  ><br />
                  <span
                    *ngFor="
                      let spec of parser(element.spec_data);
                      let j = index
                    "
                  >
                    <span
                      [class.assorted-color]="spec.type == 'assorted'"
                      [class.quantity-color]="spec.type == 'special'"
                      >{{ spec.special }}
                    </span>
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="extended">
                <th mat-header-cell *matHeaderCellDef>Extended ($)</th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <span class="desc-text">{{ element.quick_order_price | currency }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>

                <td mat-cell *matCellDef="let element" class="text-center">
                  <button class="btn" (click)="deleteQuickOrderItem(element.atlas_id)">
                    <i class="fa fa-trash" style="color: red"></i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns; index as i"
                [class.highlighted]="i == 0 && isMod"
              ></tr>
              <tr>
                <td colspan="10" class="p-4"></td>
              </tr>
            </table>

            <mat-paginator
              [pageSizeOptions]="[10, 20, 50, 100]"
              showFirstLastButtons
              aria-label="Select page seminar pages"
            >
            </mat-paginator>

            <div
              *ngIf="orderSuccess"
              class="alert alert-success mt-2 mb-2 d-flex align-items-center"
            >
              <i class="fa fa-check-circle" style="font-size: 30px"></i
              >&nbsp;&nbsp;
              <div class="ml-2">
                <h6 class="mb-1" style="font-size: 16px">Success</h6>
                <p style="font-size: 15px">
                  {{ orderLen }} item(s) have been added to cart
                </p>
              </div>
            </div>
            <div
              class="w-100 justify-content-end d-flex py-3"
              *ngIf="canOrder"
              style="border-top: 0.2px solid rgba(98, 98, 98, 0.484)"
            >
              <button
                class="btn text-bold text-white bg-blue"
                [disabled]="cartLoader"
                (click)="submitOrder()"
              >
                <div *ngIf="!cartLoader">Confirm Order</div>
                <div *ngIf="cartLoader">
                  Confirm Order
                  <span class="spinner-border spinner-border-sm text-dark ps-1">
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
